/* Submission Styles */

.container {
  display:flex;
  flex-direction:column;
  min-height:100vh;
}

.welcome{
    /*min-height:100px;*/
    width:100%;
    background:#CCCCCC;
    display:flex;
    flex-direction:column;
    align-items: center;
}

.newsSubmission {
    /*min-height:100vh;*/
    position: absolute;
  	top: 50%;
  	left: 50%;
  	transform: translate(-50%,-50%);
  	width: 350px;
  	padding: 80px 40px;
  	box-sizing: border-box;
  	height: 420px;
  	background: rgba(0,0,0,.37);
}

.submit {
    width: 100px;
    height: 100px;
    overflow: hidden;
    position: absolute;
    top: calc(-100px/2);
    left: calc(50% - 50px);
}

h2 {
	margin: 0;
	padding: 0 0 20px;
	color: #FA8072;
	text-align: center;
}

input, textarea, select, button {
    width: 100%;
    margin: 0;
    align-content: center;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.3);
}
